/* PC */
@media (min-width: 992px) {
  .menu-header {
    display: none;
  }
}

/* tablet Mobile */
@media (max-width: 991.98px) {
  /* ẩn navbar */
  .navbar {
    display: none;
  }

  /* chuyển logo ra giữa */
  .header-logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* tạo nút hiện menu */
  .menu-header__icon {
    position: absolute;
    width: 24px;
    top: 38px;
    left: 23px;
    color: #fff;
  }

  /* tạo lớp phủ */
  .menu-overlay {
    position: fixed;
    z-index: 1;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  /* khi menu được check thì hiện lớp phủ */
  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }

  /* tạo menu khi ấn vào icon */
  .menu-drawer {
    position: fixed;
    background-color: #2e1919;
    inset: 0 40% 0 0;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.5s;
    padding: 60px;
  }

  /* khi ấn vào checkbox thì hiện menu */
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translate(0);
  }

  /* tạo phần menu top */
  .menu-drawer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
  }

  .menu-drawer__close {
    width: 30px;
    color: #fff;
  }

  .navbar__item {
    margin-bottom: 10px;
  }

  .navbar__link {
    display: block;
  }

  .navbar__link:hover {
    background-color: #00ffff37;
  }

  /* khối hero */
  .hero {
    flex-direction: column-reverse;
    row-gap: 50px;
  }

  .hero__content {
    width: 80%;
    text-align: center;
    padding-bottom: 50px;
  }

  .hero__row {
    justify-content: center;
  }

  /* khối service */
  .service__row {
    flex-direction: column;
    row-gap: 50px;
  }

  .service__list {
    text-align: center;
  }

  .service-item {
    width: 80%;
    text-align: start;
  }

  /* khối work */
  .work {
    text-align: center;
  }

  .work__desc {
    margin: 18px auto 0;
  }

  .work__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }

  .work-item {
    width: 66.66%;
    text-align: start;
  }

  /* khối about */
  .about-row {
    flex-direction: column;
    row-gap: 30px;
  }

  .about__media {
    width: 100%;
  }

  .about__img--big {
    width: 100%;
    border-radius: 15px;
    margin: 25px auto;
  }

  .about__img--small {
    display: none;
  }

  .about-content {
    width: 90%;
    text-align: center;
  }

  /* khối team */
  .team__list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }

  .team-item__thumb {
    margin: 0 auto;
  }

  /* khối install */
  .install__img {
    display: none;
  }

  .install__content {
    width: 80%;
    margin: 0 auto;
  }

  /* khối blog */
  .blog__inner {
    flex-direction: column;
    row-gap: 30px;
  }

  .blog__list {
    order: 1;
  }

  .blog__content {
    order: 2;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .blog__heading {
    max-width: 90%;
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
  .footer-hidden-tablet {
    display: none;
  }

  .footer__top {
    grid-template-columns: repeat(2, 0.5fr) 1fr;
  }
}

/* mobile */
@media (max-width: 767.98px) {
}
